{% extends "base.twig" %}
{% block content %}
<div class="content-nav-padding">
	<div id="data" class="hidden">{{function("historyJSON")}}</div>
	<div class="row">
		<h1 class="col-xs-10 leadertext offset15">Our history is <small>rich and diverse. The campus began a tiny Bible college, at one point was home to a Liberian prince, has been a variety of colleges and universities, and is home to thousands of local graduates. We work hard to honor our past while embracing the future.</small></h1>
	</div>
	<div id="history-timeline"></div>
</div>
{% endblock %}