{% extends "archive-default.twig" %}
{% block description %}
	Our Innovative Property is <small>diverse and affordable. &nbsp;Whether you need <a title="Heritage Room" href="#heritage-room">space for a board meeting</a>, a <a title="Ideation Lab" href="#ideation-lab">creative venue</a> for brainstorming, <a title="Ramseyer Retreat Center" href="#ramseyer-retreat-center">bedrooms</a> for an offsite retreat, or a <a href="#dining-hall">large event space</a>, we can help! We’re dedicated to providing best-in-class facilities to our partners and our guests. <a href="/contact-us"> Get in touch with us</a> today for more information.</small>
{% endblock %}