{% extends "category-default.twig" %}
{% block description %}
	
	The Summit <small>is a <a href="/property">shared campus</a> of <a href="/partners">socially-minded organizations</a> <a href="/programs">working together</a> to make our community thrive.</small>
	<div><a href="#row1">Learn More <img src="{{ bloginfo('template_url') }}/images/avatar-light.png" alt="The Summit"></a></div>
{% endblock %}